@model Bank.Models.Template

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Template</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Account" class="control-label"></label>
                <input asp-for="Account" class="form-control" />
                <span asp-validation-for="Account" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bank" class="control-label"></label>
                <input asp-for="Bank" class="form-control" />
                <span asp-validation-for="Bank" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Constant" class="control-label"></label>
                <input asp-for="Constant" class="form-control" />
                <span asp-validation-for="Constant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Variable" class="control-label"></label>
                <input asp-for="Variable" class="form-control" />
                <span asp-validation-for="Variable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specific" class="control-label"></label>
                <input asp-for="Specific" class="form-control" />
                <span asp-validation-for="Specific" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

